.eventsContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.eventSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.eventText {
  flex: 1;
  min-width: 280px;
  margin-bottom: 20px;
}

.eventTitulo {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.eventCarousel {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  margin: 0 auto;
}

@keyframes samaritanosCarousel {
  0%,
  100% {
    background-image: url("../../../assets/AProdTech/Recnplay/recnplay01.jpg");
  }
  33% {
    background-image: url("../../../assets/AProdTech/Escolaspublicas/Nobrega02.jpg");
  }
  66% {
    background-image: url("../../../assets/AProdTech/Escolaspublicas/Nobrega03.jpg");
  }
}

.samaritanos {
  animation-name: samaritanosCarousel;
}

@keyframes renplayCarousel {
  0%,
  100% {
    background-image: url("../../../assets/AProdTech/Recnplay/recnplay01.jpg");
  }
  33% {
    background-image: url("../../../assets/AProdTech/Recnplay/recnplay02.jpg");
  }
  66% {
    background-image: url("../../../assets/AProdTech/Recnplay/recnplay02.jpg");
  }
}

.renplay {
  animation-name: renplayCarousel;
}

@keyframes escolasPublicasCarousel {
  0%,
  100% {
    background-image: url("../../../assets/AProdTech/Escolaspublicas/Nobrega.jpg");
  }
  33% {
    background-image: url("../../../assets/AProdTech/Escolaspublicas/Nobrega02.jpg");
  }
  66% {
    background-image: url("../../../assets/AProdTech/Escolaspublicas/Nobrega03.jpg");
  }
}

.escolasPublicas {
  animation-name: escolasPublicasCarousel;
}

/* Media queries para responsividade */
@media screen and (max-width: 992px) {
  .eventsContainer {
    width: 95%;
  }
  
  .eventSection {
    flex-direction: column;
    text-align: center;
  }
  
  .eventSection:nth-child(even) {
    flex-direction: column-reverse;
  }
  
  .eventText {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .eventCarousel {
    width: 280px;
    height: 280px;
  }
  
  .eventTitulo {
    font-size: 1.3em;
  }
  
  .eventsContainer {
    gap: 30px;
    padding: 15px;
  }
}