*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font:14px;
  background-color:#fff;
  font-family: sans-serif;
}

svg[stroke="currentColor"],
svg[fill="currentColor"],
svg[stroke-width="2"] {
  width: 1.5em;
  height: 1.5em;
}