.sidebar {
  margin: 0;
  padding: 0;
  background-color: #181c2e;
  position: fixed;
  height: 100vh;
  overflow: auto; 
  scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
  width: 250px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.logo-image {
  width: 200px;
  height: 100px;
  max-width: 200%;
  max-height: 200%;
}

.services {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-list {
  width: 100%;
  flex-grow: 1; /* Faz a lista ocupar todo o espaço disponível */
}

.nav-item {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding: 17px;
  width: calc(100% - 40px);
  margin: 5px auto;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
  border-radius: 8px;
}

.nav-item:hover {
  background-color: #121212;
  color: #fff;
  transform: scale(1.05);
}

.icon {
  margin-right: 10px;
  font-size: 18px;
}

.content {
  margin-left: 250px;  /* Ajuste a margem esquerda para garantir que o conteúdo não seja coberto pela sidebar */
  padding: 1px 16px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .content {
    margin-left: 0; /* Remove a margem da sidebar em telas menores */
  }

  ul {
    padding-left: 0;
  }

  .sidebar a {
    float: left;
  }

  .sidebar div {
    display: none;
  }

  .sidebar a svg {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .nav-item {
    text-align: center;
    float: none;
  }

  .nav-item svg {
    display: none;
  }
}

.dashboard-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.content {
  flex: 1;
  margin-left: 250px; /* Mesmo tamanho da sidebar */
  padding: 20px;
  transition: margin-left 0.3s ease;
}

@media screen and (max-width: 700px) {
  .content {
    margin-left: 0;
  }
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 20px;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
  border-radius: 8px;
  margin-top: auto; /* Agora ele realmente vai para o final */
}

.logout-btn:hover {
  background-color: #121212;
  color: #fff;
  transform: scale(1.05);
}

.logout-btn .icon {
  margin-right: 10px;
}
